# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.log

# Virtual environments
**/env/
**/venv/
**/.venv/
**/pyvenv.cfg
**/bin/
**/lib/
**/lib64
**/include/

# IDEs and editors
.vscode/
.idea/
*.swp
*.swo

# OS-specific
.DS_Store
Thumbs.db

